<nav class="navbar fixed-top navbar-dark" style="background-color: #439648;">
  <div class="container-fluid">
    <a class="navbar-brand font-weight-bold" >Coworking Hub</a>

    <div class="d-flex align-items-center ms-auto">

      <button class="btn btn-outline-light btn-sm me-2" (click)="logout()">
        Odjavi se
      </button>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#glavniMeni">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="glavniMeni">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/pocetna" routerLinkActive="active-link">
          <i class="bi bi-person"></i> HOME
        </a>




      </div>
    </div>
  </div>
</nav>

<div class="container" style="margin-top: 100px;">
  <h2 class="text-center" *ngIf="router.url === '/clanMreze'">Dobro došli, {{user.kor_ime}}</h2>
</div>

<div class="container mt-4">
  <h2 class="text-center">
    Podaci o menadzeru: {{user.kor_ime}}
  </h2>

  <div class="mt-4 table-responsive">
    <table class="table table-hover table-border shadow-sm">
      <thead class="table-dark">
        <tr>
          <th style="width: 20%">Tip podatka</th>
          <th style="width: 25%">Trenutna vrednost</th>
          <th style="width: 35%">Unesi izmena</th>
          <th style="width: 20%">Akcija</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ime</td>
          <td>{{user.ime}}</td>
          <td>
            <input type="text" [(ngModel)]="user.ime" class="form-control" [class.is-invalid]="errors['ime']">
            <div class="text-danger small" *ngIf="errors['ime']">{{errors['ime']}}</div>
          </td>
          <td>
            <button class="btn btn-warning w-100" (click)="izmeni(user.ime,'ime')">Sacuvaj izmenu</button>
          </td>
        </tr>

        <tr>
          <td>Prezime</td>
          <td>{{user.prezime}}</td>
          <td>
            <input type="text" [(ngModel)]="user.prezime" class="form-control" [class.is-invalid]="errors['prezime']">
            <div class="text-danger small" *ngIf="errors['prezime']">{{errors['prezime']}}</div>
          </td>
          <td>
            <button class="btn btn-warning w-100" (click)="izmeni(user.prezime,'prezime')">Sacuvaj izmenu</button>
          </td>
        </tr>

        <tr>
          <td>Pol</td>
          <td>{{user.pol}}</td>
          <td>
            <select [(ngModel)]="user.pol" class="form-control" [class.is-invalid]="errors['pol']">
              <option value="M">Muški</option>
              <option value="Ž">Ženski</option>
            </select>

            <div class="text-danger small" *ngIf="errors['pol']">{{errors['pol']}}</div>

          </td>
          <td>
            <button class="btn btn-warning w-100" (click)="izmeni(user.pol,'pol')">Sacuvaj izmenu</button>
          </td>
        </tr>

        <tr>
          <td>Adresa</td>
          <td>{{user.adresa}}</td>
          <td>
            <input type="text" [(ngModel)]="user.adresa" class="form-control" [class.is-invalid]="errors['adresa']">
            <div class="text-danger small" *ngIf="errors['adresa']">{{errors['adresa']}}</div>
          </td>
          <td>
            <button class="btn btn-warning w-100" (click)="izmeni(user.adresa,'adresa')">Sacuvaj izmenu</button>
          </td>
        </tr>

        <tr>
          <td>Telefon</td>
          <td>{{user.tel}}</td>
          <td>
            <input type="text" [(ngModel)]="user.tel" class="form-control" [class.is-invalid]="errors['tel']">
            <div class="text-danger small" *ngIf="errors['tel']">{{errors['tel']}}</div>
            <small *ngIf="user.tel && !isPhoneValid()">Telefon pocinje sa 06...(10 cifara) ili sa +3816... (13 cifara)!</small>
          </td>

          <td>
            <button class="btn btn-warning w-100" (click)="izmeni(user.tel,'tel')">Sacuvaj izmenu</button>
          </td>
        </tr>

        <tr>
          <td>Email</td>
          <td>{{user.mejl}}</td>
          <td>
            <input type="email" [(ngModel)]="user.mejl" class="form-control" [class.is-invalid]="errors['mejl']">
            <div class="text-danger small" *ngIf="errors['mejl']">{{errors['mejl']}}</div>
            <small *ngIf="user.mejl && !isEmailValid()">Mejl ima nevalidan format!</small>
          </td>
          <td>
            <button class="btn btn-warning w-100" (click)="izmeni(user.mejl,'mejl')">Sacuvaj izmenu</button>
          </td>
        </tr>

        <tr class="table-info">
          <td>Promena lozinke</td>
          <td><em>Poverljivo</em></td>
          <td>
            <input type="password" [(ngModel)]="staraLozinka" placeholder="Stara lozinka" class="form-control mb-2">

            <div class="input-group">
              <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="novaLozinka" placeholder="Nova lozinka"
                class="form-control" [class.is-invalid]="errors['lozinka']">
              <button class="btn btn-outline-secondary" type="button" (click)="showPassword =!showPassword">
                {{showPassword?'Sakrij':'Prikazi'}}
              </button>
            </div>
            <div class="tezt-danger small" *ngIf="errors['lozinka']">{{errors['lozinka']}}</div>

          </td>
          <td>
            <button class="btn btn-primary w-100" (click)="promeniLozinku()">Potvrdi novu lozinku</button>
          </td>
        </tr>

        <tr>
          <td>Profilna slika</td>
          <td class="text-center">
            <img [src]="'http://localhost:4000/' + user.slika" class="rounded-circle border"
              style="width:80 px; height:80px; object-fit:cover;">
          </td>
          <td>
            <input type="file" (change)="onFileSelected($event)" accept="image/*" class="form-control">
          </td>

          <td>
            <button class="btn btn-primary w-100" (click)="promeniSliku()">Ažuriraj sliku</button>
          </td>

        </tr>

        <ng-container *ngIf="user.tip == 'menadzer'">
          <tr>
            <td>Naziv firme</td>
            <td>{{user.firmaNaziv}}</td>
            <td>
              <input type="text" [(ngModel)]="user.firmaNaziv" class="form-control"
                [class.is-invalid]="errors['firmaNaziv']">
              <div class="text-danger small" *ngIf="errors['firmaNaziv']">{{errors['firmaNaziv']}}</div>
            </td>
            <td>
              <button class="btn btn-warning w-100" (click)="izmeni(user.firmaNaziv,'firmaNaziv')">Sačuvaj</button>
            </td>
          </tr>

          <tr>
            <td>Adresa sedišta</td>
            <td>{{user.adresaSedista}}</td>
            <td>
              <input type="text" [(ngModel)]="user.adresaSedista" class="form-control"
                [class.is-invalid]="errors['adresaSedista']">
              <div class="text-danger small" *ngIf="errors['adresaSedista']">{{errors['adresaSedista']}}</div>
            </td>
            <td>
              <button class="btn btn-warning w-100"
                (click)="izmeni(user.adresaSedista,'adresaSedista')">Sačuvaj</button>
            </td>
          </tr>

          <tr>
            <td>Matični broj</td>
            <td>{{user.maticniBroj}}</td>
            <td>
              <input type="text" [(ngModel)]="user.maticniBroj" class="form-control"
                [class.is-invalid]="errors['maticniBroj']">
              <div class="text-danger small" *ngIf="errors['maticniBroj']">{{errors['maticniBroj']}}</div>
              <small *ngIf="user.maticniBroj && !isMaticniBrojValid()">Obavezno: 8 cifara!</small>
            </td>
            <td>
              <button class="btn btn-warning w-100" (click)="izmeni(user.maticniBroj,'maticniBroj')">Sačuvaj</button>
            </td>
          </tr>

          <tr>
            <td>PIB</td>
            <td>{{user.pib}}</td>
            <td>
              <input type="text" [(ngModel)]="user.pib" class="form-control" [class.is-invalid]="errors['pib']">
              <div class="text-danger small" *ngIf="errors['pib']">{{errors['pib']}}</div>
              <small *ngIf="user.pib && !isPibValid()">Pib obavezno: 9 cifara i da ne pocinje 0!</small>
            </td>
            <td>
              <button class="btn btn-warning w-100" (click)="izmeni(user.pib,'pib')">Sačuvaj</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <!-- Moji prostori -->
  <div class="mt-5 table-responsive">
    <h3 class="text-center mb-3">Moji prostori</h3>
    <table class="table table-striped table-hover border">
      <thead class="table-dark">
        <tr>
          <th>Naziv prostora</th>
          <th>Grad</th>
          <th>Elementi prostora</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let p of prostori">
          <td>{{p.naziv}}</td>
          <td>{{p.grad}}</td>

          <td>
            <div>
              <strong>Otvoreni prostor:</strong>{{getOpenSpaceInfo(p.jedinice).broj}} stola
              <br>
              <small class="text-muted">({{getOpenSpaceInfo(p.jedinice).nazivi}})</small>
            </div>

            <div *ngIf="getOffices(p.jedinice).length>0" style="margin-bottom: 5 px;">
              <strong>Kancelarije:</strong>
              <span *ngFor="let k of getOffices(p.jedinice); let last = last">
                <!-- last samo postane false ako je u pitanju poslednji element -->
                {{k.naziv}} (stolova:{{k.kapacitet}}){{last?'':', '}}
              </span>

            </div>

            <div *ngIf="getHalls(p.jedinice).length > 0">
              <strong>Konferencijske sale:</strong>
              <span *ngFor="let s of getHalls(p.jedinice); let last = last">
                {{ s.naziv }}{{ last ? '' : ', ' }}
              </span>
            </div>
          </td>

        </tr>
      </tbody>
    </table>

  </div>
</div>
