.main-img-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 8px;
}
/*  */
.img-thumbnail {
    transition: transform 0.2s;
}

.img-thumbnail:hover {
    transform: scale(1.1);
}

.border-warning {
    border-color: #ffc107 !important;
}

/* Pozadina modala */
.custom-modal {
    position: fixed;
    z-index: 9999; /* Da bude iznad svega */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Crna prozirna pozadina */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: zoom-out;
}

/* Uvećana slika */
.modal-img {
    max-width: 90%;
    max-height: 90%;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    animation: zoomAnimation 0.3s;
}

/* Iks za zatvaranje */
.close-icon {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

@keyframes zoomAnimation {
    from { transform: scale(0.5); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

/* Dodaj ovo u svoj CSS */
.position-relative {
    position: relative;
}

.zoom-overlay {
    position: absolute; /* Postavlja lupu TAČNO preko slike */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Blago zatamnjenje */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Sakriveno dok ne pređeš mišem */
    transition: opacity 0.3s;
    cursor: pointer;
}

/* Kada pređem mišem preko slike, prikaži lupu */
.main-img-container:hover .zoom-overlay {
    opacity: 1;
}

.zoom-overlay i {
    color: white;
    font-size: 3rem; /* Veličina ikonice lupe */
}

/* Дискретна линија у боји за моје коментаре */
.moj-komentar {
  border: 2px solid #28a745 !important; /* Зелена линија */
  background-color: #f8fff9;
}