<div class="container mt-4 text-white bg-dark p-4 rounded">
      <h2>Administratorski panel - neaktivni prostori</h2>
      <hr class="bg-light">
      <div *ngIf="prostori.length === 0" class="alert alert-info">Trenutno nema neaktivnih prostora.</div>

      <table *ngIf="prostori.length > 0" class="table table-dark table-hover">
        <thead>
          <tr>
            <th>Naziv</th>
            <th>Mesto</th>
            <th>Adresa</th>
            <th>Menadzer</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of prostori">
            <td>{{p.naziv}}</td>
            <td>{{p.grad}}</td>
            <td>{{p.adresa }}</td>
            <td>{{p.menadzer}}</td>
            <td>
              <button class="btn btn-sm btn-success me-2" (click)="obradi(p.naziv, p._id)">Odobri</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
